<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
    <mapper namespace="com.simple.basic.board.BoardMapper">
    	<insert id="regist" parameterType="BoardVO">
  			INSERT INTO SBOARD(BNO, NAME, TITLE, CONTENT)
  			VALUES(SBOARD_SEQ.NEXTVAL, #{name}, #{title}, #{content})
  		</insert>
    
    	<select id="getList" resultType="com.simple.basic.command.BoardVO">
    		SELECT * FROM SBOARD ORDER BY BNO DESC 
    	</select>
    	
    	<delete id="delete" parameterType="int">
    		DELETE FROM SBOARD WHERE BNO = #{BNO}
    	</delete>
    </mapper>
  